* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image:url('https://assets.onecompiler.app/42rcfppjj/42rcpnv8d/1000001570.webp');
  background-size:100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 20px 40px;
  color: white;
  font-size: 30px;
  text-align: center;
}
a:hover {
  text-decoration: underline;

head {
  color: white;
}
img{
  size: 100px;
}